<!doctype html>
<html lang="en" class="h-100"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Vu Luong">
<title>ATM Cash Dispenser Application</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/styles.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header th:insert="fragments/header.html :: header(activeItem='settings')"></header>

<!-- Begin page content -->
<main class="flex-shrink-0 mt-5 flex-1">
    <div th:if="${!isInitialized}" class="container">
        <div class="vh-50">
            <h5>
                The ATM has not been initialized. Click <a href="/settings">here</a> to setup
                cash amounts
            </h5>
        </div>
    </div>
    <div th:if="${isInitialized}" class="container">
        <div class="d-flex flex-row mb-3 align-items-center">
            <h1>Cash Amount Update</h1>
            <div class="ms-5">
                <button type="button" class="btn btn-primary mb-2 btn-lg" onclick="onSubmitButtonClick()">
                    Submit
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/5cents.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount5Cents') + ' x 5¢'}">10 x 5¢</h4>
                    <div class="input-group mt-3">
                        <select id="5CentsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="5CentsInput" type="text" class="form-control" aria-label="" placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/10cents.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount10Cents') + ' x 5¢'}"></h4>
                    <div class="input-group mt-3">
                        <select id="10CentsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="10CentsInput" type="text" class="form-control" aria-label="" placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/20cents.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount20Cents') + ' x 10¢'}"></h4>
                    <div class="input-group mt-3">
                        <select id="20CentsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="20CentsInput" type="text" class="form-control" aria-label="" placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/50cents.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount50Cents') + ' x 50¢'}"></h4>
                    <div class="input-group mt-3">
                        <select id="50CentsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="50CentsInput" type="text" class="form-control" aria-label="" placeholder="Amount...">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/1dollar.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount1Dollar') + ' x 1$'}"></h4>
                    <div class="input-group mt-3">
                        <select id="1DollarSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="1DollarInput" type="text" class="form-control" aria-label="" placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/2dollars.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount2Dollars') + ' x 2$'}"></h4>
                    <div class="input-group mt-3">
                        <select id="2DollarsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="2DollarsInput" type="text" class="form-control" aria-label=""
                               placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/5dollars.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount5Dollars') + ' x 5$'}"></h4>
                    <div class="input-group mt-3">
                        <select id="5DollarsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="5DollarsInput" type="text" class="form-control" aria-label=""
                               placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/10dollars.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount10Dollars') + ' x 10$'}"></h4>
                    <div class="input-group mt-3">
                        <select id="10DollarsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="10DollarsInput" type="text" class="form-control" aria-label=""
                               placeholder="Amount...">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/20dollars.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount20Dollars') + ' x 20$'}"></h4>
                    <div class="input-group mt-3">
                        <select id="20DollarsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="20DollarsInput" type="text" class="form-control" aria-label=""
                               placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/50dollars.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount50Dollars') + ' x 50$'}"></h4>
                    <div class="input-group mt-3">
                        <select id="50DollarsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="50DollarsInput" type="text" class="form-control" aria-label=""
                               placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                    <div class="h-150px w-150px d-flex flex-row align-items-center">
                        <img src="/img/100dollars.png" class="w-100" alt="...">
                    </div>
                    <h4 th:text="${amountByCash.get('amount100Dollars') + ' x 100$'}"></h4>
                    <div class="input-group mt-3">
                        <select id="100DollarsSelect" class="form-select bg-light" aria-label="Default select example">
                            <option selected value="1">Add</option>
                            <option value="2">Remove</option>
                        </select>
                        <input id="100DollarsInput" type="text" class="form-control" aria-label=""
                               placeholder="Amount...">
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center px-3">
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:insert="fragments/footer.html"></footer>

<script src="/js/bootstrap.bundle.min.js"></script>

<script>

const cashMap = {
    "5Cents": ["5CentsInput", "5CentsSelect", "amount5Cents"],
    "10Cents": ["10CentsInput", "10CentsSelect", "amount10Cents"],
    "20Cents": ["20CentsInput", "20CentsSelect", "amount20Cents"],
    "50Cents": ["50CentsInput", "50CentsSelect", "amount50Cents"],
    "1Dollar": ["1DollarInput", "1DollarSelect", "amount1Dollar"],
    "2Dollars": ["2DollarsInput", "2DollarsSelect", "amount2Dollars"],
    "5Dollars": ["5DollarsInput", "5DollarsSelect", "amount5Dollars"],
    "10Dollars": ["10DollarsInput", "10DollarsSelect", "amount10Dollars"],
    "20Dollars": ["20DollarsInput", "20DollarsSelect", "amount20Dollars"],
    "50Dollars": ["50DollarsInput", "50DollarsSelect", "amount50Dollars"],
    "100Dollars": ["100DollarsInput", "100DollarsSelect", "amount100Dollars"],
}

function onSubmitButtonClick() {
    let data = {};
    for (const cash in cashMap) {
        let sign = (document.getElementById(cashMap[cash][1]).value === "1") ? 1 : -1;
        let amount = Number(document.getElementById(cashMap[cash][0]).value || 0);
        if (!Number.isInteger(amount)) {
            alert(`Value for ${cash} is not an integer!`);
            return;
        }
        if (amount < 0) {
            alert(`Value for ${cash} is negative!`);
            return;
        }

        data[cashMap[cash][2]] = sign * amount;
    }

    fetch('/settings/update', {
        method: 'PUT',
        headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    }).then(res => {
        if (res.ok) {
            return res;
        }
        throw new Error(`status ${res.status}`)
    })
    .then(res => {
        window.location.reload();
    }).catch((error) => {
        console.error(error);
    });
}
</script>

</body>
</html>
